@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --darkbordeau: #85182a;
  --lightbordeau: #db5e6f;
  --verylightbordeau: #da1e3767;
  --lightgrey: #e1e1e1;
}

/**************general**************/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Code Pro", monospace;
  max-width: 1200px;
  margin: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/**************general**************/

/**************navbar JULIETTE**************/

/**************navbar JULIETTE**************/

/**************acceuil JULIETTE**************/

/**************acceuil JULIETTE**************/

/**************contact SOUMAYA**************/

/**************contact SOUMAYA**************/

/**************competences REBECCA**************/
/* CSS H1 */
#titre_cpt {
  text-align: center;
  margin-bottom: 20px;
}

#dev,
#webdesign {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  text-shadow: 2px 2px 10px var(--lightgrey);
}

/* paramétrage border */
.dev-container,
.webdesign-container {
  border: 1px solid var(--darkbordeau);
  border-radius: 10px;
  box-shadow: 10px 5px 5px var(--verylightbordeau);
  background: var(--lightbordeau);
}

#grid_containers_c {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  grid-template-rows: auto;
  grid-gap: 30px;
  justify-content: space-around;
  align-content: center;
  padding: 100px;
}

/* parametrage icons */

.fa-brands,
.fa-solid {
  font-size: 35px;
}
.grid {
  display: grid;
}

/* grid bloc competences */
.skill1,
.skill3 {
  display: grid;
  justify-items: start;
  justify-content: ;
  align-items: center;
  margin-top: 40px;
}

.skill2,
.skill4 {
  display: grid;
  justify-items: end;
  align-items: center;
  margin-right: 2rem;
}

/**************competences REBECCA**************/

/**************projets SIHEM**************/

/**************projets SIHEM**************/

/**************footer SIHEM**************/

/**************footer SIHEM**************/
